/* Fonts */

@font-face {
  font-family: 'Cuprum';
  font-style: normal;
  font-weight: 400;
  src: local('Cuprum'),
  url('../fonts/cuprum.woff2') format('woff2'),
  url('../fonts/cuprum.woff') format('woff');
}

@font-face {
  font-family: 'Cuprum Bold';
  font-style: normal;
  font-weight: 700;
  src: local('Cuprum Bold'), local('CuprumBold'),
  url('../fonts/cuprumbold.woff2') format('woff2'),
  url('../fonts/cuprumbold.woff') format('woff');
}

@font-face {
  font-family: 'PT Sans';
  font-style: normal;
  font-weight: 400;
  src: local('PT Sans'), local('PTSans'),
  url('../fonts/ptsans.woff2') format('woff2'),
  url('../fonts/ptsans.woff') format('woff');
}

@font-face {
  font-family: 'PT Sans Bold';
  font-style: normal;
  font-weight: 700;
  src: local('PT Sans Bold'), local('PTSansBold'),
  url('../fonts/ptsansbold.woff2') format('woff2'),
  url('../fonts/ptsansbold.woff') format('woff');
}

/* Global */

body {
  min-width: 940px;
  margin: 0;
  padding: 0;
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 13px;
  line-height: 24px;
  color: var(--basic-black);
  background-color: var(--basic-white);
  background-position: top center;
  background-repeat: no-repeat;
}

/* Variables */

:root {
  --basic-white-rgb: 255, 255, 255;
  --basic-white: rgb(var(--basic-white-rgb));

  --basic-black-rgb: 0, 0, 0;
  --basic-black: rgb(var(--basic-black-rgb));

  --basic-red: #ee3643;
  --basic-dark-red: #ca2c37;
  --basic-extra-dark-red: #ba2732;

  --basic-grey-rgb: 197, 197, 197;
  --basic-extra-dark-grey-rgb: 169, 169, 169;

  --basic-grey-light-236: #f7f3ec;
  --basic-grey-light-240: #f9f5f0;
  --basic-grey-light-247: #f1f5f7;
  --basic-grey-light-248: #f2f6f8;
  --basic-grey-light-249: #f3f7f9;
  --basic-grey-229: #e5e5e5;
  --basic-grey-197: rgb(var(--basic-grey-rgb));
  --basic-grey-169: #a9a9a9;
  --basic-dark-grey: #b5b5b5;
  --basic-extra-dark-grey: rgb(var(--basic-extra-dark-grey-rgb));

  --basic-blue-light: #3d546f;
  --basic-blue: #32425c;
  --basic-dark-blue: #293449;
  --basic-extra-dark-blue-57: #1d2739;
  --basic-extra-dark-blue-41: #161d29;

  --basic-greenlight: #5fbb2d;
  --basic-green: #63a63e;
  --basic-dark-green: #518534;

  --special-rgb: 255, 209, 128;
  --special: rgb(var(--special-rgb));

  --special-yellow: #ffBF47;
  --special-blue-light: #3bbce3;
  --special-violet-light: #dc91d8;
  --special-green-light: #8ef78f;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

/* Grid */

.page {
  height: 100%;
}

.page-body {
  min-height: 100%;
  display: grid;
  grid-template-rows: min-content 1fr min-content;
  align-content: start;
}


/* ---Basic blocks--- */

/* Container */

.container {
  width: 940px;
  margin: 0 auto;
  padding: 0 10px;
}

/* Hidden */

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* Logo */

.logo {
  font-family: "Cuprum", "Arial", sans-serif;
  font-size: 24px;
  line-height: 24px;
  text-transform: uppercase;
  color: var(--basic-white);
  box-shadow: inset 0 -5px 0 rgba(var(--basic-black-rgb), 0.24);
  background: var(--basic-red);

}

.logo:active {
  background: var(--basic-extra-dark-red);
}

/* list */

.list {
  list-style: none;
}

.list__item {
  font-family: "Cuprum", "Arial", sans-serif;
  font-size: 18px;
  line-height: 24px;
  color: var(--basic-white);
}

.list__link {
  text-decoration: none;
  color: var(--basic-white);
}

/* Button */

.button {
  font-family: "Cuprum", "Arial", sans-serif;
  font-size: 18px;
  line-height: 24px;
  text-align: center;
  vertical-align: middle;
  color: var(--basic-white);
  border: none;
  cursor: pointer;
  background-color: var(--basic-green);
}

.button:hover {
  background-color: var(--basic-greenlight);
}

.button:active {
  color: rgba(var(--basic-white-rgb), 0.5);
}

/* Contact */

.contact {
  font-family: "Cuprum", "Arial", sans-serif;
  font-size: 18px;
  line-height: 24px;
  color: var(--basic-white);
}

.contact__phone {
  text-decoration: none;
  color: var(--basic-white);
}


/* Gallery */

.gallery {
  background-color: var(--basic-blue-light);
}

.item-gallery__title {
  font-family: "Cuprum Bold", "Arial", sans-serif;
  font-size: 36px;
  line-height: 36px;
  color: var(--basic-white);
  text-transform: uppercase;
}

.item-gallery__text {
  font-size: 18px;
  color: var(--basic-white);
}

.item-gallery__button {
  background-color: var(--basic-red);
  text-transform: uppercase;
}

.item-gallery__button:hover {
  background-color: var(--basic-dark-red);
}

.item-gallery__button:active {
  background-color: var(--basic-extra-dark-red);
}

/* Title */

.title {
  font-family: "Cuprum", "Arial", sans-serif;
  font-size: 30px;
  line-height: 30px;
  font-weight: normal;
  text-transform: uppercase;
  color: var(--basic-blue);
}

/* Tabs */

.tabs__list {
  list-style: none;
}

.tabs__tab {
  font-family: "Cuprum", "Arial", sans-serif;
  font-size: 21px;
  line-height: 30px;
  cursor: pointer;
  color: var(--basic-white);
  background-color: var(--basic-blue);
}

.tabs__tab:hover {
  background-color: var(--basic-dark-blue);
}

.tabs__tab:active {
  color: var(--basic-blue);
  background-color: var(--basic-white);
}

/* ---Content blocks--- */

/* -Header- */

/* Main header */

.main-header {
  background-color: var(--basic-grey-light-249);
}

.main-header__top {
  background-color: var(--basic-dark-blue);
}

.main-header-top__wrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: start;
}

.main-header-top__logo {
  justify-self: start;
}

.main-header-top__user-panel {
  justify-content: end;
  align-items: start;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.main-header__middle {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
}

.main-header-middle__text {
  font-family: "Cuprum", "Arial", sans-serif;
  font-size: 16px;
  line-height: 23px;
  justify-self: start;
  color: var(--basic-red);
}

.main-header-middle__auth {
  justify-self: end;
}

.main-header__contact {
  font-size: 14px;
  justify-self: center;
  text-align: center;
  color: var(--basic-blue);
}

.main-header__phone {
  font-size: 21px;
  color: var(--basic-red);
  border: 3px solid var(--basic-white);
}

.user-panels__button {
  color: var(--basic-white);
  background-color: var(--basic-green);
}

.user-panels__button:hover {
  color: var(--basic-white);
  background-color: var(--basic-greenlight);
}

.user-panels__button:active {
  color: rgba(var(--basic-white-rgb), 0.5);
  background-color: var(--basic-green);
}

/* Main header auth */

.auth__button {
  color: var(--basic-black);
  background-color: var(--basic-white);
}

.auth__button:hover {
  color: var(--basic-red);
  background-color: var(--basic-white);
}

.auth__button:active {
  color: var(--basic-grey-197);
}

.auth__item {
  font-family: "Cuprum", "Arial", sans-serif;
  font-size: 16px;
  line-height: 18px;
  color: var(--basic-blue);
}

.auth__link {
  color: var(--basic-blue);
}

.auth__item:hover,
.auth__link:hover {
  color: var(--basic-red);
}

.auth__item:active,
.auth__link:active {
  color: var(--basic-grey-197);
}

/* Main header bottom */

.main-navigation {
  background-color: var(--basic-blue);
}

.main-navigation_link:hover {
  background-color: var(--basic-dark-blue);
}

.main-navigation_link:active {
  color: rgba(var(--basic-white-rgb), 0.5);
  background-color: var(--basic-extra-dark-blue-57);
}

/* -Main- */

.page-catalog__title {
  background-color: var(--basic-grey-light-249);
}

/* Breadcrumbs */

.breadcrumbs {
  color: var(--basic-black);
  font-size: 13px;
  line-height: 18px;
  text-transform: uppercase;
}

.breadcrumbs__link {
  color: var(--basic-black);
}

/* Sorting */

.sorting {
  background-color: var(--basic-grey-light-236);
}

.sorting__title {
  font-size: 13px;
  line-height: 18px;
  text-transform: uppercase;
}

.sorting__list {
  list-style: none;
}

.sorting__item {
  color: rgba(var(--basic-black-rgb), 0.3);
  text-transform: uppercase;
}

.sorting__item:hover {
  color: rgba(var(--basic-black));
}

.sorting__link {
  cursor: pointer;
  color: rgba(var(--basic-black-rgb), 0.3);
  border-bottom: 1px dotted var(--basic-red);
}

.sorting__link:hover {
  color: var(--basic-black);
  border-bottom: 1px solid var(--basic-red);
}

.sorting__link:active {
  color: var(--basic-red);
  border: none;
}
.sorting__link_border_none,
.sorting__link_border_none:hover,
.sorting__link_border_none:active {
  border: none;
}

/* Pagination */

.pagination__list {
  list-style: none;
}

.pagination__link {
  font-size: 13px;
  color: var(--basic-black);
  border: 1px solid var(--basic-grey-229);
  cursor: pointer;
}

.pagination__link:active,
.pagination__link:focus {
  border: 1px solid var(--basic-red)
}

.pagination__link_current,
.pagination__link_current:hover,
.pagination__link_current:focus,
.pagination__link_current:active
{
  color: var(--basic-white);
  background-color: var(--basic-red);
  border: 1px solid var(--basic-red);
}

/* Catalogs */

.catalogs__items {
  display: grid;
  gap: 20px;
  grid-template-columns: repeat(3, 1fr);
}

.catalogs__list-item {
  background-color: var(--special-yellow);
}

.catalogs__list-item_color_first {
  background-color: var(--special-yellow);
}

.catalogs__list-item_color_second {
  background-color: var(--special-blue-light);
}

.catalogs__list-item_color_third {
  background-color: var(--special-violet-light);
}

.catalogs__list-item_color_fourth {
  background-color: var(--special-green-light);
}

.catalogs__slider {
  grid-column: 1 / span 2;
  grid-row: 2 / span 2;
}

.catalogs__title {
  font-family: "Cuprum Bold", "Arial", sans-serif;
  font-size: 24px;
  line-height: 30px;
  color: var(--basic-white);
}

.new {
  font-family: "Cuprum", "Arial", sans-serif;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  background-color: var(--basic-red);
  color: var(--basic-white);
}

.catalogs__button {
  text-transform: uppercase;
  background-color: rgba(var(--basic-white-rgb), 0.3);
}

.catalogs__button:hover {
  background-color: rgba(var(--basic-grey-rgb), 0.3);
}

.catalogs__button:active {
  background-color: rgba(var(--basic-extra-dark-grey), 0.3);
}

/* Popular products */

.products__list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 20px;
  margin: 0;
  padding: 0;
  list-style: none;
}

.popular-products {
  background-color: var(--basic-white);
}

.popular-products__top {
  display: grid;
  grid-template-columns: repeat(2, max-content);
  align-items: center;
  justify-content: space-between;
  background-color: var(--basic-grey-light-240);
}

.popular-products__button {
  background-color: var(--basic-red);
  text-transform: uppercase;
}

.popular-products__button:hover {
  background: var(--basic-dark-red);
}

.popular-products__button:active {
  background: var(--basic-extra-dark-red);
}

/* Products */

.products__title {
  font-family: "PT Sans Bold", Arial, sans-serif;
  font-size: 18px;
  line-height: 20px;
  color: var(--basic-black);
}

.products__old-price {
  font-size: 17px;
  line-height: 18px;
  color: var(--basic-grey-169);
}

.products__price {
  font-size: 17px;
  line-height: 18px;
  color: var(--basic-white);
  background-color: var(--basic-red);
}

/* Popular manufacturers */

.popular-manufacturers {
  background-color: var(--basic-white);
}

.popular-manufacturers__list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 20px;
  margin: 0;
  padding: 0;
  list-style: none;
}

.popular-manufacturers__top {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  background-color: var(--basic-grey-light-240);
}

.popular-manufacturers__button {
  background-color: var(--basic-red);
  text-transform: uppercase;
  justify-self: end;
}

.popular-manufacturers__button:hover {
  background: var(--basic-dark-red);
}

.popular-manufacturers__button:active {
  background: var(--basic-extra-dark-red);
}

/* Services */

.services {
  background-color: var(--basic-grey-light-249);
}

.services__title {
  color: var(--basic-black);
}

.services__tabs {
  display: grid;
  grid-template-columns: 240px 1fr;
  gap: 20px;
}

/* Company */

.company__wrapper {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
}

.company__list-item {
  color: var(--basic-black);
}

.company__button {
  background-color: var(--basic-red);
  text-transform: uppercase;
}

.company__button:hover {
  background-color: var(--basic-dark-red);
}

.company__button:active {
  background-color: var(--basic-extra-dark-red);
}

/* About products */

.about-products {
  background-color: var(--basic-grey-light-249);
}

.about-products__title {
  color: var(--basic-black);
}

/* -Footer- */

/* -Footer top- */

.footer {
  background-color: var(--basic-blue);
}

.footer__logo {
  align-self: flex-start;
}

.footer-top__wrapper {
  display: grid;
  grid-template-columns: max-content 1fr;
}

.footer-top__navigation {
  align-self: center;
  justify-self: flex-end;
}

.footer-top__link:hover {
  text-decoration: underline;
}

.footer-top__link:active {
  text-decoration: none;
  color: rgba(var(--basic-white-rgb), 0.5);
}

/* Footer middle */

.footer-middle__wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
}

.footer-middle-navigation {
  justify-self: end;
}

.footer-middle__contact {
  font-family: "Cuprum", "Arial", sans-serif;
  font-size: 18px;
  line-height: 24px;
}

.footer-middle-navigation__link {
  color: var(--special);
}

.footer-middle-navigation__link:hover {
  text-decoration: underline;
  color: var(--special);
}

.footer-middle-navigation__link:active {
  text-decoration: none;
  color: rgba(var(--special-rgb), 0.5);
}

/* Footer bottom */

.footer__bottom {
  background-color: var(--basic-dark-blue);
}

.footer-bottom__wrapper {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

.footer__social {
  font-family: "Cuprum", "Arial", sans-serif;
  font-size: 16px;
  line-height: 18px;
}

.footer__copyright {
  font-family: "Cuprum", "Arial", sans-serif;
  font-size: 16px;
  line-height: 18px;
  color: var(--basic-white);
  justify-self: end;
}

.footer__copyright_align_right {
  justify-self: end;
}

.footer__feedback{
  font-family: "Cuprum", "Arial", sans-serif;
  font-size: 16px;
  line-height: 18px;
  color: var(--basic-white);
}

.footer__feedback_align_right {
  justify-self: end;
}

.footer__link {
  color: var(--special);
}

.footer__link:hover {
  text-decoration: underline;
  color: var(--special);
}

.footer__link:active {
  color: var(--basic-red);
}
